.navBar {
    grid-area: navBar;
    background-color: blueviolet;
  }

   .navBarItem a {
    text-decoration: none;
    color: white;
  } 
 

  .active:active {
    color: rgb(43, 12, 179);
  }




